/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

body {
  //background-color: #101010;
  //color: #fff;
}

.v-btn {
  //color: #fff;
}

header {
  //background-color: rgba(0, 0, 0, 0.4);

  strong {
    padding: 5px 0;
    font-size: 32px;
  }
}

.content {
  width: 95%;
  margin: 0 auto;
}

a {
  display: inline-block;
  color: #0288D1;
  //text-decoration: unset;
}

.pageMain-card {
  height: 100%;
}

.cropper-bg {
  background-repeat: repeat
}

.v-divider {
  margin: 10px 0;
}

.setting_subtitle {
  margin-bottom: 5px;
  font-size: 20px;
}

.toolsBar {
  display: flex;
  align-items: center;

  .v-btn:not(:last-child), .v-text-field:not(:last-child) {
    margin-right: 10px;
  }
}

.input-group {
  display: flex;
  align-items: center;

  .input-group-buttons {
    margin-left: 10px;
  }

  .input-group-buttons > .v-btn:not(:last-child) {
    margin-right: 5px;
  }
}

.action-btn {
  display: flex;
  align-items: center;
}

.v-dialog {
  z-index: 1900;
}

.chart-container {
  position: relative;
  height:100%;
  width:100%
}

.v-fab>div {
  margin-right: 35px !important;
  margin-bottom: 35px !important;
}